@charset "UTF-8";
@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica/helvetica_regular.woff2") format("woff2"), url("../assets/fonts/Helvetica/helvetica_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica/helvetica_bold.woff2") format("woff2"), url("../assets/fonts/Helvetica/helvetica_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff2") format("woff2"), url("../assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/**
 * Сброс стилей
**/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

a,
button {
  transition: color 0.3s ease, background-color 0.3s ease;
}

button {
  border: none;
  background: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: #00a070;
  font-size: 16px;
  background-color: #f5f5f5;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: "Helvetica", sans-serif;
  display: flex;
  align-items: center;
}
.logo svg {
  margin-right: 16px;
}
.logo svg path:nth-of-type(2), .logo svg path:nth-of-type(3) {
  fill: #CD563A;
}
@media (max-width: 767px) {
  .logo svg path:nth-of-type(2), .logo svg path:nth-of-type(3) {
    fill: #fff;
  }
}
@media (max-width: 767px) {
  .logo svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}
.logo span {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .logo span {
    font-size: 19px;
  }
}
.logo span:first-of-type {
  margin-right: 8px;
}
.logo span:last-of-type {
  color: #cd563a;
}
@media (max-width: 767px) {
  .logo span:last-of-type {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .logo {
    color: #fff;
  }
}

.link-phone {
  font-family: "Helvetica Neue", sans-serif;
  color: #393939;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding-left: 35px;
}
.link-phone::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../assets/images/russian-language.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.link-phone:hover {
  color: #00a070;
}

.link-whatsapp {
  font-family: "Helvetica", sans-serif;
  color: #393939;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  position: relative;
  padding-left: 35px;
}
.link-whatsapp::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../assets/images/icons/whatsap.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.link-whatsapp:hover {
  color: #00a070;
}

.work-time {
  font-family: "Helvetica Neue", sans-serif;
  color: #393939;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-left: 35px;
}
.work-time::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../assets/images/icons/schedule.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.section-title {
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 20px;
  }
}

.icon-wrapper {
  max-width: 48px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(0, 160, 112, 0.1);
}
@media (max-width: 767px) {
  .icon-wrapper {
    max-width: 40px;
    width: 100%;
    height: 40px;
  }
}

.burger {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 100%;
  background-color: #fff;
}
.burger.close .burger__line:first-of-type {
  transform: translateY(4px) rotate(45deg);
}
.burger.close .burger__line:last-of-type {
  transform: translateY(-4px) rotate(-45deg);
}
.burger.close {
  background-color: #00a070;
  position: absolute;
  top: 15px;
  right: 15px;
}
.burger.close .burger__line {
  background-color: #fff;
}
.burger__line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #00a070;
  transition: transform 0.3s ease;
}
@media (max-width: 767px) {
  .burger {
    display: flex;
  }
}

.stop-scroll {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 2;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
  padding-bottom: 13px;
}
.header__top-address {
  font-family: "Helvetica", sans-serif;
  color: #393939;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
  font-style: normal;
  max-width: 259px;
  width: 100%;
  position: relative;
  padding-left: 35px;
}
.header__top-address::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 22px;
  background-image: url("../assets/images/icons/location.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header__top-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  align-items: center;
  max-width: 540px;
  width: 100%;
}
.header__top-list--mobile {
  display: none;
}
@media (max-width: 767px) {
  .header__top-list {
    display: none;
  }
}
@media (max-width: 1425px) {
  .header__top {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 768px) {
  .header__top {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .header__top {
    flex-direction: row;
    border-radius: 16px;
    background-color: #00a070;
    padding: 8px 16px;
    margin-bottom: 32px;
  }
}
.header__nav {
  border-radius: 24px;
  background-color: #00a070;
  padding: 28px 24px;
}
.header__nav--mobile {
  display: none;
}
@media (max-width: 768px) {
  .header__nav {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__list-link {
  font-family: "Helvetica Neue", sans-serif;
  color: #f5f5f5;
  font-size: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 14px;
}
.header__list-link:hover {
  color: #393939;
}
@media (max-width: 993px) {
  .header__list {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .header__list {
    gap: 5px;
  }
}
.header__wrapper--mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
.header__wrapper--mobile.active {
  transform: translateY(0%);
}
@media (max-width: 767px) {
  .header__wrapper--mobile.active .header__nav--mobile {
    display: block;
    border-radius: 0;
    padding: 15px;
    margin-top: auto;
  }
  .header__wrapper--mobile.active .header__top-list--mobile {
    display: grid;
    row-gap: 15px;
    justify-content: center;
    margin-top: auto;
  }
}

.hero__wrapper {
  border-radius: 24px;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  padding: 80px 50px 50px;
  margin-top: -25px;
}
@media (max-width: 767px) {
  .hero__wrapper {
    margin-top: 0;
    padding: 144px 20px 20px;
  }
}
.hero__title {
  font-family: "Helvetica", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
  max-width: 719px;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 32px;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .hero__title {
    font-size: 20px;
  }
}
.hero__text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  max-width: 610px;
  width: 100%;
  margin-bottom: 93px;
}
@media (max-width: 767px) {
  .hero__text {
    width: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .hero__text {
    font-size: 16px;
  }
}
.hero__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.hero__list-item {
  border-left: 1px solid #fff;
  padding-left: 12px;
}
.hero__list-item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .hero__list-item {
    border-left: 1px solid #000;
  }
}
.hero__list--mobile {
  display: none;
}
@media (max-width: 767px) {
  .hero__list--mobile {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 16px;
    margin-top: 32px;
  }
}
@media (max-width: 860px) {
  .hero__list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 767px) {
  .hero__list {
    display: none;
  }
}
.hero-stat {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
.hero-stat__title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .hero-stat__title {
    color: #000;
  }
}
@media (max-width: 375px) {
  .hero-stat__title {
    font-size: 20px;
  }
}
.hero-stat__text {
  color: #fff;
  line-height: 130%;
}
@media (max-width: 767px) {
  .hero-stat__text {
    color: #000;
  }
}
@media (max-width: 375px) {
  .hero-stat__text {
    font-size: 14px;
  }
}

.dms-product {
  margin-block: 72px;
}
.dms-product__title {
  max-width: 891px;
  width: 100%;
  margin-bottom: 32px;
}
@media (max-width: 870px) {
  .dms-product__title {
    width: 100%;
  }
}
.dms-product__text {
  font-family: "Roboto", sans-serif;
  color: #47464a;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  width: 100%;
}
@media (max-width: 767px) {
  .dms-product__text {
    font-size: 16px;
  }
}
.dms-product__item {
  padding: 12px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
}
.dms-product__item:last-child .dms-product__text {
  width: 346px;
}
@media (max-width: 1024px) {
  .dms-product__item:last-child .dms-product__text {
    width: 100%;
  }
}
.dms-product__item {
  grid-column: span 2;
}
.dms-product__item.wide {
  grid-column: span 3;
}
@media (max-width: 1024px) {
  .dms-product__item:first-child, .dms-product__item:nth-child(2), .dms-product__item:last-child {
    grid-column: span 4;
  }
}
@media (max-width: 1024px) and (max-width: 1023px) {
  .dms-product__item {
    grid-column: span 1 !important;
  }
}
.dms-product__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .dms-product__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1023px) {
  .dms-product__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .dms-product {
    margin-bottom: 32px;
  }
}

.dms-enterprises {
  margin-bottom: 72px;
}
.dms-enterprises__title {
  margin-bottom: 32px;
}
.dms-enterprises__image {
  border-radius: 20px;
  max-width: 666px;
  width: 100%;
  height: auto;
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 1320px) {
  .dms-enterprises__image {
    margin: 0 auto;
  }
}
.dms-enterprises__item {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.dms-enterprises__item-title {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  max-width: 273px;
  width: 100%;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .dms-enterprises__item-title {
    width: 100%;
    font-size: 18px;
  }
}
.dms-enterprises__item-text {
  color: #47464a;
  font-weight: 400;
  line-height: 130%;
  max-width: 273px;
  width: 100%;
}
@media (max-width: 767px) {
  .dms-enterprises__item-text {
    width: 100%;
  }
}
.dms-enterprises__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 580px) {
  .dms-enterprises__list {
    grid-template-columns: 1fr;
  }
}
.dms-enterprises__wrapper {
  display: flex;
  column-gap: 20px;
}
@media (max-width: 1320px) {
  .dms-enterprises__wrapper {
    flex-direction: column;
    row-gap: 25px;
  }
}
@media (max-width: 767px) {
  .dms-enterprises__wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 767px) {
  .dms-enterprises {
    margin-bottom: 32px;
  }
}

.dms-programms {
  margin-bottom: 72px;
  color: #f8f9f9;
}
.dms-programms__wrapper {
  border-radius: 32px;
  background: #00a070;
  padding: 60px 40px;
}
@media (max-width: 767px) {
  .dms-programms__wrapper {
    padding: 20px 20px 158px 20px;
  }
}
.dms-programms__title {
  font-family: "Roboto", sans-serif;
  color: #f8f9f9;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  max-width: 620px;
  width: 100%;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .dms-programms__title {
    font-size: 24px;
  }
}
.dms-programms__list {
  list-style: disc;
  list-style-position: outside;
  margin-left: 20px;
}
.dms-programms__text {
  font-family: "Helvetica", sans-serif;
  color: #f8f9f9;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 767px) {
  .dms-programms__text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .dms-programms {
    margin-bottom: 32px;
  }
}

.direct-access {
  margin-bottom: 72px;
}
.direct-access__title {
  margin-bottom: 32px;
}
.direct-access__image {
  max-width: 90px;
  width: 100%;
  height: 90px;
}
.direct-access__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1110px) {
  .direct-access__list {
    grid-template-columns: 1fr;
  }
}
.direct-access__item {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  column-gap: 32px;
  align-items: start;
  height: 130px;
  padding: 20px;
}
.direct-access__item-title {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  max-width: 498px;
  width: 100%;
  margin-bottom: 16px;
}
.direct-access__item-text {
  font-family: "Roboto", sans-serif;
  color: #47464a;
  font-weight: 400;
  line-height: 130%;
  max-width: 498px;
  width: 100%;
}
@media (max-width: 545px) {
  .direct-access__item {
    flex-direction: column;
    height: auto;
  }
  .direct-access__item img {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .direct-access {
    margin-bottom: 32px;
  }
}

.chronic-care__title {
  margin-bottom: 12px;
}
.chronic-care__subtitle {
  font-family: "Roboto", sans-serif;
  color: #47464a;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  width: 891px;
  margin-bottom: 32px;
}
.chronic-care__icon-wrapper {
  margin-bottom: 32px;
}
.chronic-care__list {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.chronic-care__item {
  width: 437px;
  height: 225px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}
.chronic-care__item-title {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.chronic-care__item-text {
  font-family: "Roboto", sans-serif;
  color: #47464a;
  font-weight: 400;
  line-height: 130%;
  width: 397px;
}
.chronic-care__item-text span {
  font-weight: 700;
}

.medical-concierge {
  margin-bottom: 72px;
}
.medical-concierge__title {
  margin-bottom: 12px;
}
.medical-concierge__subtitle {
  font-family: "Roboto", sans-serif;
  color: #47464a;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}
.medical-concierge__image {
  border-radius: 20px;
  grid-column: span 2;
  grid-row: span 3;
}
.medical-concierge__list {
  list-style: disc;
  list-style-position: outside;
  margin-left: 10px;
  padding-left: 15px;
}
.medical-concierge__list-item {
  font-family: "Roboto", sans-serif;
  color: #47464a;
  font-weight: 400;
}
.medical-concierge__list-item:not(:last-child) {
  margin-bottom: 5px;
}
.medical-concierge__list-text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 400;
}
.medical-concierge__item {
  border-radius: 20px;
  background-color: #eef1f6;
  padding: 20px;
}
.medical-concierge__item:last-child {
  background-color: #00a070;
}
.medical-concierge__item:last-child .medical-concierge__item-title {
  color: #fff;
}
.medical-concierge__item-title {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.medical-concierge__content {
  display: grid;
  gap: 12px 20px;
  grid-template-columns: repeat(3, 1fr);
}
.medical-concierge__wrapper {
  border-radius: 32px;
  background-color: #fff;
  padding: 40px;
}
@media (max-width: 767px) {
  .medical-concierge {
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
