body {
    font-family: $font-main;
    font-weight: 500;

    color: $main-color;
    font-size: 16px;
    background-color: #f5f5f5;
}

.container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-family: $font-helvetica;

    display: flex;
    align-items: center;

    & svg {
        margin-right: 16px;

        & path:nth-of-type(2),
        & path:nth-of-type(3) {
            fill: #CD563A;

            @media (max-width: 767px) {
                fill: #fff;
            }
        }

        @media (max-width: 767px) {
            width: 25px;
            height: 25px;

            margin-right: 10px;
        }
    }

    & span {
        font-size: 32px;
        font-weight: 700;

        @media (max-width: 767px) {
            font-size: 19px;
        }
    }

    & span:first-of-type {
        margin-right: 8px;
    }

    & span:last-of-type {
        color: #cd563a;

        @media (max-width: 767px) {
            color: #fff;
        }
    }

    @media (max-width: 767px) {
        color: #fff;
    }
}

.link-phone {
    font-family: $font-helvetica-neue;
    color: #393939;
    font-size: 20px;
    font-weight: 500;

    position: relative;

    padding-left: 35px;

    &::before {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        background-image: url("../assets/images/russian-language.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &:hover {
        color: $main-color;
    }
}

.link-whatsapp {
    font-family: $font-helvetica;
    color: #393939;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    position: relative;

    padding-left: 35px;

    &::before {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        background-image: url("../assets/images/icons/whatsap.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &:hover {
        color: $main-color;
    }
}

.work-time {
    font-family: $font-helvetica-neue;
    color: #393939;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

    position: relative;

    padding-left: 35px;

    &::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background-image: url("../assets/images/icons/schedule.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.section-title {
    font-family: $font-helvetica;
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
}

.icon-wrapper {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    background-color: rgba(0, 160, 112, 0.1);

    @media (max-width: 767px) {
        width: 40px;
        height: 40px;
    }
}

.burger {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    width: 40px;
    height: 40px;

    padding: 8px;

    border-radius: 100%;
    background-color: #fff;

    &.active .burger__line:first-child {
        transform: translateY(4px) rotate(45deg);
    }

    &.active .burger__line:nth-child(2) {
        display: none;
    }

    &.active .burger__line:last-child {
        transform: translateY(-4px) rotate(-45deg);
    }

    &__line {
        display: block;

        width: 18px;
        height: 2px;
        
        background-color: $main-color;

        transition: transform 0.3s ease;
    }

    @media (max-width: 767px) {
        display: flex;
    }
}

.stop-scroll {
	overflow: hidden;
}