// Helvetica

@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/Helvetica/helvetica_regular.woff2") format("woff2"),
        url("../assets/fonts/Helvetica/helvetica_regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/Helvetica/helvetica_bold.woff2") format("woff2"),
        url("../assets/fonts/Helvetica/helvetica_bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


// Helvetica Neue

@font-face {
    font-family: "Helvetica Neue";
    src: url("../assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff2") format("woff2"),
        url("../assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}