@charset "UTF-8";

@import "variables";
@import 'fonts';
@import 'reset';
@import 'core';

@import 'blocks/header.scss';
@import 'blocks/hero.scss';
@import 'blocks/dms-product.scss';
@import 'blocks/dms-enterprises.scss';
@import 'blocks/dms-programms.scss';
@import 'blocks/direct-access.scss';
@import 'blocks/chronic-care.scss';
@import 'blocks/medical-concierge.scss';