.chronic-care {
    margin-bottom: 72px;

    &__title {
        margin-bottom: 12px;
    }

    &__subtitle {
        font-family: $font-roboto;
        color: #47464a;
        font-size: 20px;
        font-weight: 400;
        line-height: 130%;

        width: 891px;

        margin-bottom: 32px;

        @media (max-width: 923px) {
            width: 100%;
        }

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }

    &__icon-wrapper {
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;

        @media (max-width: 1360px) {
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: center;
        }
    }

    &__item {
        width: 437px;
        height: 225px;

        border-radius: 20px;
        background-color: #fff;

        padding: 20px;

        &-title {
            font-family: $font-helvetica;
            font-size: 20px;
            font-weight: 700;

            margin-bottom: 16px;
        }

        &-text {
            font-family: $font-roboto;
            color: #47464a;
            font-weight: 400;
            line-height: 130%;

            width: 397px;

            & span {
                font-weight: 700;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }

        @media (max-width: 923px) {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}