.direct-access {
    margin-bottom: 72px;

    &__title {
        margin-bottom: 32px;
    }

    &__image {
        width: 90px;
        height: 90px;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        background-color: #fff;
        border-radius: 20px;

        display: flex;
        column-gap: 32px;
        align-items: start;

        height: 130px;

        padding: 20px;

        &-title {
            font-family: $font-helvetica;
            font-size: 20px;
            font-weight: 700;
            line-height: 130%;

            width: 498px;

            margin-bottom: 16px;
        }

        &-text {
            font-family: $font-roboto;
            color: #47464a;
            font-weight: 400;
            line-height: 130%;

            width: 498px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}