.dms-product {
    margin-block: 72px;

    &__title {
        max-width: 891px;
        width: 100%;

        margin-bottom: 32px;

        @media (max-width: 870px) {
            width: 100%;
        }
    }

    &__text {
        font-family: $font-roboto;
        color: #47464a;
        font-size: 20px;
        font-weight: 400;
        line-height: 130%;

        width: 100%;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &__item {
        padding: 12px;

        display: flex;
        column-gap: 20px;
        align-items: center;

        border-radius: 20px;
        background-color: #fff;

        &:last-child .dms-product__text {
            width: 346px;

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        grid-column: span 2;

        &.wide {
            grid-column: span 3;
        }

        @media (max-width: 1024px) {
            &:first-child,
            &:nth-child(2),
            &:last-child {
                grid-column: span 4;
            }

            @media (max-width: 1023px) {
                grid-column: span 1 !important;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1023px) {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}