.dms-enterprises {
    margin-bottom: 72px;

    &__title {
        margin-bottom: 32px;
    }

    &__image {
        border-radius: 20px;

        max-width: 666px;
        width: 100%;
        height: auto;

        grid-column: span 2;
        grid-row: span 2;

        @media (max-width: 1320px) {
            margin: 0 auto;
        }
    }

    &__item {
        background-color: #fff;
        border-radius: 20px;

        padding: 20px;

        &-title {
            font-family: $font-helvetica;
            font-size: 20px;
            font-weight: 600;
            line-height: 130%;

            max-width: 273px;
            width: 100%;

            margin-bottom: 16px;

            @media (max-width: 767px) {
                width: 100%;

                font-size: 18px;
            }
        }

        &-text {
            color: #47464a;
            font-weight: 400;
            line-height: 130%;

            max-width: 273px;
            width: 100%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 580px) {
            grid-template-columns: 1fr;
        }
    }

    &__wrapper {
        display: flex;
        column-gap: 20px;

        @media (max-width: 1320px) {
            flex-direction: column;
            row-gap: 25px;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}