.family-access {
    font-family: $font-helvetica;
    font-weight: 400;

    margin-bottom: 72px;

    &__wrapper {
        border-radius: 32px;
        background-color: #fff;

        display: flex;
        align-items: start;

        @media (max-width: 1330px) {
            flex-direction: column;

            width: fit-content;

            margin: 0 auto;
        }
    }

    &__content {
        padding: 60px;

        @media (max-width: 767px) {
            padding: 20px;
        }
    }

    &__bonus {
        color: #fff;
        font-size: 24px;
        font-weight: 700;

        display: inline-block;
        
        width: 130px;
        height: 54px;
        
        border-radius: 1000px;
        background-color: $main-color;

        padding: 12px 24px;
        margin-bottom: 16px;

        @media (max-width: 767px) {
            width: 80px;
            height: 32px;

            font-size: 14px;

            padding: 8px 16px;
        }
    }

    &__title {
        color: #212124;
        font-size: 48px;
        font-weight: 700;

        margin-bottom: 12px;

        @media (max-width: 767px) {
            font-size: 24px;
        }
    }

    &__subtitle {
        font-family: $font-roboto;
        color: #212124;
        font-size: 24px;
        line-height: 130%;

        width: 580px;

        @media (max-width: 768px) {
            width: 100%;
        }

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}