.header {
    position: relative;
    z-index: 2;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 44px;
        padding-bottom: 13px;

        &-address {
            font-family: $font-helvetica;
            color: #393939;
            font-size: 15px;
            font-weight: 400;
            line-height: 130%;
            font-style: normal;

            max-width: 259px;
            width: 100%;

            position: relative;

            padding-left: 35px;

            &::before {
                position: absolute;
                content: '';
                width: 15px;
                height: 22px;
                background-image: url("../assets/images/icons/location.svg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 12px;
            align-items: center;

            max-width: 540px;
            width: 100%;

            &--mobile {
                display: none;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        @media (max-width: 1425px) {
            flex-direction: column;
            row-gap: 30px;
        }

        @media (max-width: 768px) {
            margin-top: 24px;
        }

        @media (max-width: 767px) {
            flex-direction: row;
            border-radius: 16px;
            background-color: $main-color;

            padding: 8px 16px;
            margin-bottom: 32px;
        }
    }

    &__nav {
        border-radius: 24px;
        background-color: $main-color;

        padding: 28px 24px;

        &--mobile {
            display: none;
        }

        @media (max-width: 768px) {
            padding: 15px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &-link {
            font-family: $font-helvetica-neue;
            color: #f5f5f5;
            font-size: 17px;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            padding: 5px 14px;

            &:hover {
                color: #393939;
            }
        }

        @media (max-width: 993px) {
            justify-content: center;
        }
    }

    &__wrapper--mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1000;

        border-top-left-radius: 24px;
        border-top-right-radius: 24px;

        background-color: #f5f5f5;

        display: flex;
        flex-direction: column;

        transform: translateY(-100%);
        transition: transform 0.3s ease;

        &.active {
            transform: translateY(0%);
        }

        @media (max-width: 767px) {
            &.active .header__nav--mobile {
                display: block;

                border-radius: 0;

                padding: 10px;

                margin-top: auto;
            }

            &.active .header__top-list--mobile {
                display: grid;
                row-gap: 15px;
                justify-content: center;

                margin-top: auto;
            }
        }
    }
}