.hero {
    &__wrapper {
        border-radius: 24px;
        backdrop-filter: blur(4px);
        background: rgba(0, 0, 0, 0.4);

        padding: 80px 50px 50px;

        margin-top: -25px;

        @media (max-width: 767px) {
            margin-top: 0;
            padding: 144px 20px 20px;
        }
    }

    &__title {
        font-family: $font-helvetica;
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        line-height: 125%;
        text-transform: uppercase;

        width: 719px;

        margin-bottom: 20px;

        @media (max-width: 767px) {
            font-size: 32px;

            width: 100%;
        }

        @media (max-width: 375px) {
            font-size: 20px;
        }
    }

    &__text {
        font-family: $font-roboto;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;

        width: 610px;

        margin-bottom: 93px;

        @media (max-width: 767px) {
            width: 100%;

            margin-bottom: 0;
        }

        @media (max-width: 375px) {
            font-size: 16px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        &-item {
            border-left: 1px solid #fff;

            padding-left: 12px;

            &:not(:last-child) {
                margin-right: 20px;
            }

            @media (max-width: 767px) {
                border-left: 1px solid #000;
            }
        }

        &--mobile {
            display: none;

            @media(max-width: 767px) {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr) !important;
                row-gap: 16px;

                margin-top: 32px;
            }
        }

        @media (max-width: 860px) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 20px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &-stat {
        font-family: $font-helvetica;
        font-weight: 400;

        &__title {
            color: #fff;
            font-size: 32px;
            font-weight: 600;
            line-height: 100%;
            text-transform: uppercase;

            margin-bottom: 12px;

            @media (max-width: 767px) {
                color: #000;
            }

            @media (max-width: 375px) {
                font-size: 20px;
            }
        }

        &__text {
            color: #fff;
            line-height: 130%;

            @media (max-width: 767px) {
                color: #000;
            }

            @media (max-width: 375px) {
                font-size: 14px;
            }
        }
    }
}