.medical-concierge {
    margin-bottom: 72px;

    &__title {
        margin-bottom: 12px;
    }

    &__subtitle {
        font-family: $font-roboto;
        color: #47464a;
        font-size: 20px;
        font-weight: 400;

        margin-bottom: 32px;
    }

    &__image {
        border-radius: 20px;

        grid-column: span 2;
        grid-row: span 3;
    }

    &__list {
        list-style: disc;
        list-style-position: outside;
        margin-left: 10px;

        padding-left: 15px;

        &-item {
            font-family: $font-roboto;
            color: #47464a;
            font-weight: 400;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        &-text {
            font-family: $font-roboto;
            color: #fff;
            font-weight: 400;
        }
    }

    &__item {
        border-radius: 20px;
        background-color: #eef1f6;

        padding: 20px;

        &:last-child {
            background-color: $main-color;
        }

        &:last-child .medical-concierge__item-title {
            color: #fff;
        }

        &-title {
            font-family: $font-helvetica;
            font-size: 20px;
            font-weight: 700;

            margin-bottom: 16px;
        }
    }

    &__content {
        display: grid;
        gap: 12px 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__wrapper {
        border-radius: 32px;
        background-color: #fff;

        padding: 40px;
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}