.partners {
    margin-bottom: 72px;

    &__title {
        text-align: center;

        width: 675px;

        margin: 0 auto 32px;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__wrapper {
        border-radius: 20px;
        background-color: #fff;

        padding: 40px;

        @media (max-width: 767px) {
            padding: 20px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(186px, max-content));
        gap: 12px;
        justify-content: center;

        max-width: 1272px;
        width: 100%;
        margin: 0 auto;

        @media (max-width: 767px) {
            grid-template-columns: repeat(auto-fit, minmax(128px, max-content));
        }
    }

    &__item {
        display: block;
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}